@{
    ViewBag.Title = "留言板";
}
@section content{
    <link href="~/Content/message-board.css" rel="stylesheet" />
}
<div id="app" class="pt-3">
    <!-- 留言 -->
    <div class="card">
        <!-- body -->
        <div class="card-body">
            <div class="row">
                <div class="flex-column px-2">
                    <img src="@((ViewBag.CurrentUser as AppUser).HeadPortraitPath)" height="40" width="40" style="border-radius: 50%;" />
                </div>
                <div class="flex-fill">
                    <textarea class="w-100" style="border: none; resize: none; overflow: hidden;" placeholder="嗨，@(User.Identity.Name)，在想些什麼?" maxlength="300"
                              v-model="currentMessage.message"></textarea>
                </div>
            </div>
            <hr v-if="showImageRow" />
            <div class="card-columns"
                 v-if="showImageRow">
                <div class="card w-auto"
                     v-for="(image, index) in currentMessage.previewImages">
                    <div class="card-img">
                        <img height="100" width="100"
                             :src="image"
                             :alt="currentMessage.images[index].name" />
                    </div>
                    <div class="card-img-overlay p-0"
                         :title="currentMessage.images[index].name">
                        <button type="button" class="close" aria-label="Close"
                                @@click="removePreviewImage(index)">
                            <span class="align-top" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="card w-auto">
                    <div class="card-img">
                        <div class="btn btn-outline-light" style="position: relative; overflow: hidden; width: 100px; height: 100px; top: 0; left: 0;">
                            <svg class="feather align-middle">
                                <use xlink:href="~/Content/feather-sprite.svg#plus" />
                            </svg>
                            <input type="file" multiple accept="image/*" style="top: 0; cursor: pointer; height: 300px; margin: 0; opacity: 0; padding: 0; position: absolute; font-size: 1001px !important; right: 0;"
                                   @@change="loadPreviewImage" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="card-footer">
            <div class="row px-3">
                <div class="flex-column">
                    <div style="height: 38px; width: 90px;">
                        <div class="btn btn-outline-info" style="position: relative; overflow: hidden;">
                            新增照片
                            <input type="file" multiple accept="image/*" style="bottom: 0; cursor: pointer; height: 300px; margin: 0; opacity: 0; padding: 0; position: absolute; font-size: 1001px !important; right: 0;"
                                   @@change="loadPreviewImage" />
                        </div>
                    </div>
                </div>
                <div class="text-right flex-fill">
                    <button type="button" class="btn btn-primary"
                            v-if="messageSendable"
                            @@click="sendMessage">
                        留言
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <!-- 列表 -->
    <div v-if="showMessageList">
        <div class="card message"
             v-for="(message,index) in messages">
            <div class="card-header py-1">
                <div class="row">
                    <div class="flex-column">
                        <div class="row mx-0">
                            <div class="flex-column">
                                <img class="mt-1" height="40" width="40" style="border-radius: 50%; top: 0;"
                                     :src="resolveUrl(message.HeadPortraitPath)" />
                            </div>
                            <div class="flex-fill pl-2">
                                <span class="d-block" style="font-size: larger;">
                                    {{message.UserName}}
                                </span>
                                <span class="d-block" style="color: #696969; font-size: small;">{{message.Time}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-right flex-fill">
                        <span class="d-inline-block align-middle h-100"></span>
                        <a class="card-link d-inline-block align-middle" href="#"
                           @*data-toggle="modal" data-target="#exampleModal"*@
                           v-if="editable(message.UserId)"
                           @@click="onEdit(message)"
                           >編輯</a>
                        <a class="card-link d-inline-block align-middle" href="#"
                           v-if="deleteable(message.UserId)"
                           @@click="deleteMessage(message.MessageId)">刪除</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    {{message.Context}}
                </div>
                <hr v-if="message.AttachmentList.length>0" />
                <!-- 1 -->
                <div v-if="message.AttachmentList.length==1" key="count1">
                    <a href="#">
                        <div style="padding-top: 56.25%; overflow: hidden;position:relative;">
                            <img style="position:absolute;top:-50%; bottom:-50%;margin:auto;width: 100%;height: auto;"
                                 :src="resolveUrl(message.AttachmentList[0].ImagePath)" />
                        </div>
                    </a>
                </div>

                <!-- 2 -->
                <div v-if="message.AttachmentList.length==2" key="count2">
                    <a href="#" style="width: calc(50% - 3px); position: relative; display: inline-block;">
                        <div style="padding-top: 56.25%; overflow: hidden;position:relative;">
                            <img style="position:absolute;top:-50%; bottom:-50%;margin:auto;width: 100%;height: auto;"
                                 :src="resolveUrl(message.AttachmentList[0].ImagePath)" />
                        </div>
                    </a>
                    <a href="#" style="width: calc(50% - 3px); position: relative; display: inline-block;">
                        <div style="padding-top: 56.25%; overflow: hidden;position:relative;">
                            <img style="position:absolute;top:-50%; bottom:-50%;margin:auto;width: 100%;height: auto;"
                                 :src="resolveUrl(message.AttachmentList[1].ImagePath)" />
                        </div>
                    </a>
                </div>

                <!-- 3 -->
                <div v-if="message.AttachmentList.length==3" key="count3" style="width: 100%;">
                    <div style="width: calc(50% - 3px); display: inline-block;">
                        <a href="#">
                            <div style="padding-top: 112.5%; overflow: hidden; position: relative;">
                                <img style="position: absolute; left: 50%; top: 50%; -webkit-transform: translateY(-50%) translateX(-50%); height: 100%;"
                                     :src="resolveUrl(message.AttachmentList[0].ImagePath)" />
                            </div>
                        </a>
                    </div>
                    <div style="width: calc(50% - 3px); display: inline-block;">
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[1].ImagePath)" />
                            </div>
                        </a>
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative; margin-top: 6px;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[2].ImagePath)" />
                            </div>
                        </a>
                    </div>
                </div>

                <!-- 4 -->
                <div v-if="message.AttachmentList.length==4" key="count4" style="width: 100%;">
                    <div style="width: calc(50% - 3px); display: inline-block;">
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[0].ImagePath)" />
                            </div>
                        </a>
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative; margin-top: 6px;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[1].ImagePath)" />
                            </div>
                        </a>
                    </div>
                    <div style="width: calc(50% - 3px); display: inline-block;">
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[2].ImagePath)" />
                            </div>
                        </a>
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative; margin-top: 6px;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[3].ImagePath)" />
                            </div>
                        </a>
                    </div>
                </div>

                <!-- 5 and more -->
                <div v-if="message.AttachmentList.length>=5" key="count5" style="width: 100%;">
                    <div style="width: calc(50% - 3px); display: inline-block;">
                        <a href="#">
                            <div style="padding-top: 84.375%; overflow: hidden; position: relative;">
                                <img style="position: absolute; left: 50%; top: 50%; -webkit-transform: translateY(-50%) translateX(-50%); height: 100%;"
                                     :src="resolveUrl(message.AttachmentList[0].ImagePath)" />
                            </div>
                        </a>
                        <a href="#">
                            <div style="padding-top: 84.375%; overflow: hidden; position: relative; margin-top: 6px;">
                                <img style="position: absolute; left: 50%; top: 50%; -webkit-transform: translateY(-50%) translateX(-50%); height: 100%;"
                                     :src="resolveUrl(message.AttachmentList[1].ImagePath)" />
                            </div>
                        </a>
                    </div>
                    <div style="width: calc(50% - 3px); display: inline-block;">
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[2].ImagePath)" />
                            </div>
                        </a>
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative; margin-top: 6px;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[3].ImagePath)" />
                            </div>
                        </a>
                        <a href="#">
                            <div style="padding-top: 55.8%; overflow: hidden; position: relative; margin-top: 6px;">
                                <img style="position: absolute; top: -50%; bottom: -50%; margin: auto; width: 100%; height: auto;"
                                     :src="resolveUrl(message.AttachmentList[4].ImagePath)" />
                            </div>
                        </a>
                    </div>
                    <div class="btn btn-outline-dark" style="width: 100%"
                         v-if="message.AttachmentList.length>5"><h2 style="color: #696969;">還有{{message.AttachmentList.length-5}}張</h2></div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="font-weight-bold text-info text-center" v-else>這裡空空如也，成為第一個留言者吧!</h2>
    <div id="dataFlag"></div>

    <div class="modal fade" id="editMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card">
                    <!-- body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="flex-column px-2">
                                <img src="@((ViewBag.CurrentUser as AppUser).HeadPortraitPath)" height="40" width="40" style="border-radius: 50%;" />
                            </div>
                            <div class="flex-fill">
                                <textarea class="w-100" style="border: none; resize: none; overflow: hidden;" placeholder="嗨，@(User.Identity.Name)，在想些什麼?" maxlength="300"
                                          v-model="currentEdit.context"></textarea>
                            </div>
                        </div>
                        <hr v-if="showEditMessageImageRow" />
                        <div class="card-columns"
                             v-if="showEditMessageImageRow">
                            <div class="card w-auto"
                                 v-for="(image, index) in currentEdit.currentImages">
                                <div class="card-img">
                                    <img height="100" width="100"
                                         :src="image.srcValue"
                                         :alt="currentEdit.currentImages[index].name" />
                                </div>
                                <div class="card-img-overlay p-0"
                                     :title="currentEdit.currentImages[index].name">
                                    <button type="button" class="close" aria-label="Close"
                                            @@click="removeCurrentEditImage(image)">
                                        <span class="align-top" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card w-auto">
                                <div class="card-img">
                                    <div class="btn btn-outline-light" style="position: relative; overflow: hidden; width: 100px; height: 100px; top: 0; left: 0;">
                                        <svg class="feather align-middle">
                                            <use xlink:href="~/Content/feather-sprite.svg#plus" />
                                        </svg>
                                        <input type="file" multiple accept="image/*" style="top: 0; cursor: pointer; height: 300px; margin: 0; opacity: 0; padding: 0; position: absolute; font-size: 1001px !important; right: 0;"
                                               @@change="loadPreviewEditMesageImage" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- footer -->
                    <div class="card-footer">
                        <div class="row px-3">
                            <div class="flex-column">
                                <div style="height: 38px; width: 90px;">
                                    <div class="btn btn-outline-info" style="position: relative; overflow: hidden;">
                                        新增照片
                                        <input type="file" multiple accept="image/*" style="bottom: 0; cursor: pointer; height: 300px; margin: 0; opacity: 0; padding: 0; position: absolute; font-size: 1001px !important; right: 0;"
                                               @@change="loadPreviewEditMesageImage" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-right flex-fill">
                                <button type="button" class="btn btn-light" data-dismiss="modal">
                                    取消
                                </button>
                                <button type="button" class="btn btn-primary"
                                        v-if="editSaveable"
                                        @@click="saveEdit">
                                    儲存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        const serverRoot = "@Url.Content("~")";
        const userId = "@((ViewBag.CurrentUser as AppUser).Id)";
        @if ((ViewBag.CurrentUser as AppUser).Id == AppSettings.AdminId)
        {
            <text>
        const isAdmin = true;
            </text>
        }
    </script>
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/autosize.js"></script>
    <script src="~/Scripts/PlusoneLib.js"></script>
    <script src="~/Scripts/MessageBoard.js"></script>
    <script>
        $(autosize(document.querySelectorAll('textarea')));
    </script>
}
